/* @import "./_vars.css"; */
@import "./navMenu.css";
@import './hamburger.css';
@import './footer.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@font-face {
    font-family: Helvetica;
    src: url('../fonts/Helvetica/Helvetica.ttf');
}


@layer base {
    body {
        font-family: Helvetica, sans-serif;
    }
}

