/* TTo change responsiveness, tweak wrapper-gap and wrapper-width */
@layer components {
  .hamburger {
    width: 18px;
    height: fit-content;
    @apply space-y-1;
    div {
      transition: transform 500ms ease;
      width: 100%;
      height: 2px;
      @apply bg-[#b3b3b3];
    }
  }

  .hamburger--active {
    :nth-child(1) {
      transform: translateY(200%) rotate(39deg);
    }

    :nth-child(2) {
      transform: translateY(-100%) rotate(-39deg);
    }
  }
  .navbar {
    transition: background-color 300ms ease-in;
    .wrapper {
      gap: calc(5vw + 3rem);
    }
  }

  a {
    cursor: pointer;
  }
  .change-color {
    background-color: rgb(29, 29, 31);
  }
  .navbar__primary-menu {
    @apply hidden tablet:block;

    .navlink {
      font-size: 0.75rem;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
}
