/* TTo change responsiveness, tweak wrapper-gap and wrapper-width */
@layer components {
  .navbar {
    transition: background-color 300ms ease-in;
    .wrapper {
      gap: calc(5vw + 3rem);
    }
  }

  a {
    cursor: pointer;
  }
  .change-color {
    background-color: rgb(29, 29, 31);
  }
  .navbar__primary-menu {
    @apply hidden tablet:block;
  
    .navlink {
      font-size: 0.75rem;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
}






