/* TTo change responsiveness, tweak wrapper-gap and wrapper-width */

@layer components {

  .navbar {
    .wrapper {
      gap: calc(5vw + 3rem);
    }

    a {
      cursor: pointer;
    }
  }

  .navbar__primary-menu {
    @apply hidden tablet:block;

    .navlink {
        font-size: 0.8rem;
    }
  }
}
