@layer components {
    .navbar__submenu {
        opacity: 0;
      }
      .fade-in {
        opacity: 1;
      }
      .submenu--enter {
        display: block;
        animation: dropdown-submenu 500ms forwards;
        animation-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
      }
  
      @keyframes dropdown-submenu {
        0% {
          height: 30vh;
        }
  
        10% {
          height: 40vh;
        }
  
        25% {
          height: 55vh;
        }
  
        40% {
          height: 60vh;
        }
  
        100% {
          min-height: 70svh;
        }
      }
}